*{
    margin: 0;
    padding: 0;
}
/* #root {
    background-color: #333;
    color: #ffffffe6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

.container{
    padding: 10px;
    background-color: #ffd700;
    max-width: 400px;
    box-shadow: 4px 4px 4px #ffffffe6;
    border-radius: 8px;
    border: 1px solid #333;
}

.inputBox {
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    margin-right: 5px;
    box-shadow: 2px 2px 2px #333;
}
.inputBox:hover {
    box-shadow: 5px 5px 6px #333;

}
.btn {
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    margin-left: 5px;
    box-shadow: 2px 2px 2px #333;
}

.btn:hover{
    cursor: pointer;
    background-color: #ffa900;
    box-shadow: none;
}